<!-- startpoint = index in previous projects --> 

<h1>Welcome to InBetween</h1>
<p>We are here to help you Meet!</p>

<ul>
	<li>Give us your Startpoint</li>
	<li>Give us the Startpoint of whom you're meeting </li>
	<li>We'll find the point in the middle</li>
</ul>

<% @welcome %>

<% @welcome_pics.each do |pic| %>
	<%= image_tag pic, width: '300px', height: '300px' %>
<% end %>

<%= link_to 'MidleMe', midlemes_path %>
<!-- Display one marker -->
<div id="map-canvas"></div>  

<!-- Display multiple markers -->
<!-- <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
